body{
    background-color: blue;
}
.jumbotron{
    margin: 20px 150px 10px 150px;
    height: 120px;
    background-color: red;
}
h1{
    text-align: center;
    color: white;
    font-size: 50px;
    margin-top:-40px;
}
img{
    margin-left: 150px;
    margin-right: 150px;
    width: 72%;
}